In [1]:
import pandas as pd
import requests

In [4]:
query = '''
with riders_name as ( 
select 
    rider_id
from rider_pip
where pip_date = '2024-02-12'
and pip_status = 'passed')


    select 
        locus_rider_id as rider_id
    ,   rider_name
    ,   phone
    ,   team_name
    
    from application_db.rider as r
    where locus_rider_id in (
'Jai_9355428273_05',
'Rakesh_rapydex_5_1701159237',
'Harender_9069727076_05',
'Laxman_8851371388_05',
'DS_NCT_DWRK_0313202310_15',
'Raj_kumar_Porter_5',
'Ravi_Kiran_VLS_5',
'DS_NCT_DWRK_28032022_055',
'Nirmal_Tirkey_5',
'Jabar_Singh_PS_5')
'''

In [5]:
from postgres_connect import *

path = '/Users/apple/Documents/tunnel-ssh.cer'
# printthis('yes')
conn = get_conn('Yes',path)
df = pd.read_sql(query,conn)
conn.close()

Tunnel Started
Connection Made

In [6]:
df

                      rider_id        rider_name       phone     team_name
0              Nirmal_Tirkey_5     Nirmal Tirkey  8929415804  DEL_BLZ_HKMN
1    DS_NCT_DWRK_0313202310_15       Akhil Kumar  7678640731     GS_DEL_LM
2       Harender_9069727076_05       Harender PS  9069727076     GS_DEL_LM
3         Laxman_8851371388_05        Laxman VLS  8851371388     GS_DEL_LM
4             Ravi_Kiran_VLS_5    Ravi Kiran VLS  7303178584     GS_DEL_LM
5            Jai_9355428273_05        Jai Dev PS  9355428273     GS_DEL_LM
6  Rakesh_rapydex_5_1701159237    Rakesh rapydex  7701944634     GS_DEL_LM
7     DS_NCT_DWRK_28032022_055            Jaipal  9650405701     GS_DEL_LM
8           Raj_kumar_Porter_5  Raj kumar Porter  7011408580     GS_DEL_LM
9             Jabar_Singh_PS_5    Jabar Singh PS  8795701675  DEL_BLZ_RNGR

In [7]:

# Assuming your dataframe is named df
for index, row in df.iterrows():
    url = 'https://locus-api.com/v1/client/growsimplee-lm-devo/rider'
    params = {
        'overwrite': 'true'
    }
    headers = {
        'Content-Type': 'application/json',
        'Authorization': 'Basic Z3Jvd3NpbXBsZWUtbG0tZGV2bzpmMmZlYWY2NC00MDExLTQzYzUtYjY4OS0wZGUzYTBjODJiZmI='
    }
    data = [
        {
            "id": row['rider_id'],
            "name": row['rider_name'],
            "code": row['rider_id'],
            "status": "ACTIVE",
            "phoneNumber": {
                "phoneNumber": row['phone']
            },
            "teams": [
                {
                    "clientId": "growsimplee-lm-devo",
                    "teamId": row['team_name']
                }
            ],
            "type": "RIDER",
            "riderPersonaId": {
                "clientId": "growsimplee-lm-devo",
                "riderPersonaId": "default-rider-persona"
            },
            "transporterId": {
                "clientId": "growsimplee-lm-devo",
                "transporterId": "default-transporter"
            },
            "isActive": True,
            "retainAuth": False
        }
    ]

    response = requests.post(url, params=params, headers=headers, json=data)

    # Check if the request was successful
    if response.status_code == 200:
        print(f'Request successful for row {index}')
    else:
        print(f'Request failed for row {index} with status code:', response.status_code)

Request successful for row 0
Request successful for row 1
Request successful for row 2
Request successful for row 3
Request successful for row 4
Request successful for row 5
Request successful for row 6
Request successful for row 7
Request successful for row 8
Request successful for row 9