In [3]:
from postgres_connect import *
import requests
import logging

Getting Data

In [1]:
query = '''
select r.rider_id, node_node_id, rider_pip.rider_name, rider_pip.hub, rider_pip.shipping_city as city, r.locus_rider_id
from rider_pip 
left join application_db.rider as r on r.locus_rider_id = rider_pip.rider_id
where 
        pip_status = 'closed' 
and     pip_result = 'failed'
and     pip_date in ('2024-03-04')
order by node_node_id
'''

query2 = '''
select 
    rider_id, node_node_id
from application_db.rider
where locus_rider_id in (
'Gourav_8527634900_020',
'kaushal_9793911790_020',
'vikash_8954320179_020',
'AJAD_9873736031_011',
'Deepak_kumar_20',
'nikhil_9263902787_020',
'ujjawal__20',
'Deep_9911771714_020',
'sunil_ram_20',
'Sandeep_Kumar__20',
'Darshan_8595785494_020',
'Deepak_8826262741_020',
'Jasveer_Singh_20',
'Praveen_kumar_20',
'Haricharan_yadav_20',
'Sourabh_9911894322_020',
'Manoj_8076388056_020',
'Ajay_kumar_20',
'PRINCE_9654005272_020',
'Yogesh_kumar_20',
'Rohit_8510903003_020',
'Aashish_nagar_20',
'Harsh_kumar_20',
'ankur_8368060526_020',
'ranjeet_7838421627_020',
'RAM_9528858863_020',
'Ravi_7838457674_020',
'Abhishek_chaturvedi__20',
'karan_20',
'sushant__20',
'Faheem_20',
'Ajay_6397825082_020',
'priyanshu_20_1700983605',
'jeetu_Rajput__20_1700896015',
'Vikas_singh_20',
'sourabh_porwal_20',
'Sumit_kashyap_20',
'Rahul_9205549489_020',
'Manoj__13',
'Bambam PS',
'Rahul kapoor PS',
'Mohd Gulab',
'Sagar bhan RD',
'Ram Autar Rapydex',
'Kamal Jain',
'Sachin Bhan RD'
)
'''

In [4]:
path = 'tunnel-ssh.cer'
# printthis('yes')
conn = get_conn('No',path)
df_block = pd.read_sql(query,conn)
conn.close()

KeyboardInterrupt:

In [ ]:
df_block

,rider_id,node_node_id,rider_name,hub,city,locus_rider_id
0,4149,1,DILIP KUMAR TATA ACE,DS BLR MTH,Bangalore,DILIP_9380067002_01
1,4294,1,Paltya Kumar,DS BLR MTH,Bangalore,Paltya_9602569772_01
2,4149,1,DILIP KUMAR TATA ACE,DS BLR MTH,Bangalore,DILIP_9380067002_01
3,4533,2,Shobha S,DS BLR BOMM,Bangalore,Shobha_9035299986_02
4,4118,2,Manjunath R,DS BLR BOMM,Bangalore,Manjunath_7892678258_02
5,4394,3,Abdul Rehman Ansari,DS BOM KRL,Mumbai,Abdul_9619523217_03
6,4422,3,arbaz Shaikh,DS BOM KRL,Mumbai,arbaz_9022227010_03
7,4605,3,shabaz Ansari,DS BOM KRL,Mumbai,shabaz_9653615673_03
8,3214,3,Shehbaaz Shaikh,DS BOM KRL,Mumbai,Shehbaaz_Shaikh_3
9,4258,3,Uzair Aslam Qureshi,DS BOM KRL,Mumbai,Uzair_8591471703_03
10,3932,3,Pravin Kumar Paswan,DS BOM KRL,Mumbai,Pravin_9891013889_03
11,1786,3,Salim Chaudhary,DS BOM KRL,Mumbai,Salim_Chaudhary__3
12,3909,3,Sadique Abdul Majid Shailh,DS BOM KRL,Mumbai,Sadique_7021008517_03
13,4156,5,Dheeraj Kumar PS,DS DEL DWK,Delhi,Dheeraj_8527303213_05
14,4280,5,Sandeep Yadav JPS,DS DEL DWK,Delhi,Sandeep_9717905540_05
15,2765,5,Ajay VLS,DS DEL DWK,Delhi,Ajay_VLS_5
16,4155,5,Prem kumar PS,DS DEL DWK,Delhi,Prem_7042838112_05
17,4326,5,Sudhir Rajak VLS,DS DEL DWK,Delhi,Sudhir_9821441576_05
18,4156,5,Dheeraj Kumar PS,DS DEL DWK,Delhi,Dheeraj_8527303213_05
19,4411,7,jagadish,DS BLR HBBL,Bangalore,jagadish_8105446977_07
20,4411,7,jagadish,DS BLR HBBL,Bangalore,jagadish_8105446977_07
21,4309,7,M Chandu,DS BLR HBBL,Bangalore,M_9606961772_07
22,4309,7,M Chandu,DS BLR HBBL,Bangalore,M_9606961772_07
23,4671,7,Kumar M,DS BLR HBBL,Bangalore,Kumar_9019573649_07
24,4507,19,Panduga Tarun,DS HYD SRNG,Hyderabad,Panduga_7569840659_019
25,4340,19,Madhu G,DS HYD SRNG,Hyderabad,Madhu_9701731175_019
26,4595,19,Shaik Mahfooz,DS HYD SRNG,Hyderabad,Shaik_9121508050_019
27,4700,19,Baskar S,DS HYD SRNG,Hyderabad,Baskar_7995832078_019
28,4742,19,MD ABRAR,DS HYD SRNG,Hyderabad,Md_8106323482_019
29,3695,19,k Harish,DS HYD SRNG,Hyderabad,k_9963781924_019
30,3799,21,aman GAUTAM VLS,DS DEL RNGR,Delhi,aman_7703972667_021
31,3488,21,santosh,DS DEL RNGR,Delhi,santosh_21_1701253868
32,3220,21,Jabar Singh PS,DS DEL RNGR,Delhi,Jabar_Singh_PS_5
33,2819,22,Amol Sonawane,DS BOM SWRI,Mumbai,Amol_Sonavwane_3
34,4393,22,Saddam Noorhasan khan,DS BOM SWRI,Mumbai,Saddam_8850377738_022
35,3798,22,Arif Alam shaikh,DS BOM SWRI,Mumbai,Arif_9167469296_022
36,4364,24,sumit bhardwaj,DS DEL HKMN,Delhi,sumit_7011775291_024
37,4574,24,Pravesh Chandra,DS DEL DWK,Delhi,Pravesh_7042756478_05
38,4030,26,Pankaj Prakash Shinde,DS BOM THAN,Mumbai,Pankaj_8693070232_03
39,4019,26,Aniket Uttam Sawant,DS BOM THAN,Mumbai,Aniket_8779417265_03
40,4558,27,Ravi kumar durga m,DS HYD KMP,Hyderabad,Ravi_9985618538_04
41,4739,36,Syed anwar,DS HYD SRNG,Hyderabad,Syed_8328617319_019
42,4005,36,Mohammed khaled,DS HYD SRNG,Hyderabad,Mohammed_9502785515_019
43,4741,36,Shaik shadab,DS HYD SRNG,Hyderabad,Shaik_7995300130_019

Initiating Blocking

In [9]:
# Configure logging
logging.basicConfig(level=logging.INFO)

# Constants
BASE_URL = 'http://grow-simplee-nlb-prod-a264c46571856f67.elb.ap-south-1.amazonaws.com:9001'
API_ENDPOINT = '/rider/delist'
HEADERS_BASE = {
    'name': 'void',  # Change this value if needed
    'Content-Type': 'application/json',
}

# Create a session for making multiple requests
session = requests.Session()

# List to store rider IDs with timeout
timeout_rider_ids = []

for index, row in df_block.iterrows():
    headers = HEADERS_BASE.copy()
    headers['node_id'] = str(row['node_node_id'])

    data = {
        'delistType': 'BLACKLIST',
        'riderIds': [str(row['rider_id'])],
    }

    url = f"{BASE_URL}{API_ENDPOINT}"

    try:
        response = session.put(url, headers=headers, json=data, timeout=5)
        response.raise_for_status()  # Raise an HTTPError for bad responses

        json_response = response.json()
        message = json_response.get('message', '')
        logging.info(f"Request for rider_id {row['rider_id']} - {message}")

        data = json_response.get('data', [])
        for item in data:
            rider_id = item.get('riderId', '')
            rider_name = item.get('riderName', '')
            error_message = item.get('message', '')
            logging.info(f"    Rider ID: {rider_id}, Rider Name: {rider_name}, Error Message: {error_message}")

    except requests.exceptions.Timeout:
        logging.error(f"Timeout occurred for rider_id {row['rider_id']}")
        timeout_rider_ids.append(row['rider_id'])

    except requests.exceptions.HTTPError as errh:
        logging.error(f"HTTP Error: {errh}")
    except requests.exceptions.RequestException as err:
        logging.error(f"Request Exception: {err}")

print("Rider blocking completed updating database")

# Print or use timeout_rider_ids as needed
print("Rider IDs with timeout:", timeout_rider_ids)

INFO:root:Request for rider_id 4149 - Success
INFO:root:Request for rider_id 4294 - Success
INFO:root:Request for rider_id 4149 - Success
INFO:root:Request for rider_id 4533 - Success
INFO:root:Request for rider_id 4118 - Success
INFO:root:Request for rider_id 4394 - Success
INFO:root:Request for rider_id 4422 - Success
INFO:root:Request for rider_id 4605 - Success
INFO:root:Request for rider_id 3214 - Success
INFO:root:Request for rider_id 4258 - Success
INFO:root:Request for rider_id 3932 - Success
INFO:root:Request for rider_id 1786 - Partial Success
INFO:root:    Rider ID: 1786, Rider Name: Salim Chaudhary , Error Message: Some error occurred
INFO:root:Request for rider_id 3909 - Success
INFO:root:Request for rider_id 4156 - Success
INFO:root:Request for rider_id 4280 - Success
INFO:root:Request for rider_id 2765 - Success
INFO:root:Request for rider_id 4155 - Success
INFO:root:Request for rider_id 4326 - Success
INFO:root:Request for rider_id 4156 - Success
INFO:root:Request for rider_id 4411 - Success
INFO:root:Request for rider_id 4411 - Success
INFO:root:Request for rider_id 4309 - Success
INFO:root:Request for rider_id 4309 - Success
INFO:root:Request for rider_id 4671 - Success
INFO:root:Request for rider_id 4507 - Success
INFO:root:Request for rider_id 4340 - Success
INFO:root:Request for rider_id 4595 - Success
INFO:root:Request for rider_id 4700 - Success
INFO:root:Request for rider_id 4742 - Success
INFO:root:Request for rider_id 3695 - Success
INFO:root:Request for rider_id 3799 - Success
INFO:root:Request for rider_id 3488 - Success
INFO:root:Request for rider_id 3220 - Success
INFO:root:Request for rider_id 2819 - Success
INFO:root:Request for rider_id 4393 - Success
INFO:root:Request for rider_id 3798 - Success
INFO:root:Request for rider_id 4364 - Success
INFO:root:Request for rider_id 4574 - Success
INFO:root:Request for rider_id 4030 - Success
INFO:root:Request for rider_id 4019 - Success
INFO:root:Request for rider_id 4558 - Success
INFO:root:Request for rider_id 4739 - Success
INFO:root:Request for rider_id 4005 - Success
INFO:root:Request for rider_id 4741 - Success

Rider blocking completed updating database
Rider IDs with timeout: []

Updating Tables

In [11]:
conn = get_conn('No',path)
cursor = conn.cursor()
update_query1 = '''
    UPDATE rider_pip
    SET pip_status = 'final'
    WHERE pip_status = 'closed';
'''
update_query2 = '''
delete from rider_pip where pip_status = 'running' and rider_id in 
(select rider_id from rider_pip where pip_status = 'final' and pip_result = 'failed')
'''
cursor.execute(update_query1)
print("Updated all closed status to final")
cursor.execute(update_query2)
print("Deleted blocked riders from running pip")
conn.commit()
cursor.close()
conn.close()

Connection Made
Updated all closed status to final
Deleted blocked riders from running pip

Sending Closure Mails

In [12]:
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
from datetime import datetime

subject = f"Rider PIP Blocked Riders Report - {datetime.today().strftime('%d/%m/%Y')}"
from_email = "akshay@blitznow.in"  # Replace with your email
to_email = "akshay@blitznow.in, sanjay@blitznow.in, david.kumar@blitznow.in, ajay.verma@blitznow.in, biswojit.jena@blitznow.in, chandrakanth.sunkoji@blitznow.in, rahul.yadav@blitznow.in, rahul.lochav@blitznow.in, sourabh.vijay@blitznow.in, sourabh.vijayvergia@blitznow.in, syed.afrid@blitznow.in, anandbellary.hindushree@blitznow.in, dilip.kumar@blitznow.in, ma.saifullah@blitznow.in, shankar.poddar@blitznow.in, sumit.kamble@blitznow.in, anil@blitznow.in"


# Group the DataFrame by 'city' and 'hub' and format the data
blocked_riders_by_city_hub = df_block.groupby(['city', 'hub'])
email_content = "<p>Hi Team, These are the riders blocked tonight</p>"

for (city, hub), group in blocked_riders_by_city_hub:
    email_content += f"<p><b>City:</b> {city} <b>Hub:</b> {hub}</p>"
    email_content += group[['locus_rider_id', 'rider_name']].to_html(index=False, justify='center', classes='table', escape=False)

# Add inline styles for the table header
email_content = email_content.replace('<th>', '<th style="background-color: #c7dceb;">')

# Compose the email
msg = MIMEMultipart()
msg['From'] = from_email
msg['To'] = to_email
msg['Subject'] = subject

# Attach the email content
msg.attach(MIMEText(email_content, 'html'))

# Connect to the SMTP server and send the email
try:
    with smtplib.SMTP('smtp.gmail.com', 587) as server:
        server.starttls()
        server.login(from_email, 'Outofblitz1!')  # Replace with your email password
        server.sendmail(from_email, to_email, msg.as_string())
    print("Email sent successfully.")
except Exception as e:
    print(f"Error sending email: {e}")

Email sent successfully.