In [18]:
import pandas as pd
import requests

In [22]:
query = '''
with riders_name as ( 
select 
    rider_id
from rider_pip
where pip_date = '2024-02-12'
and pip_status = 'passed')


    select 
        locus_rider_id as rider_id
    ,   rider_name
    ,   phone
    ,   team_name
    
    from application_db.rider as r
    where locus_rider_id in (
'Avinash_8369069669_03','Irshad_8689886188_022')
'''

In [23]:
from postgres_connect import *

path = 'tunnel-ssh.cer'
# printthis('yes')
conn = get_conn('Yes',path)
df = pd.read_sql(query,conn)
conn.close()

Starting Tunnel Started
Started, getting conn
Connection Made

In [24]:
df

,rider_id,rider_name,phone,team_name
0,Irshad_8689886188_022,Irshad Ali Abbas Ali Shaikh,8689886188,BOM_BLZ_SWRI
1,Avinash_8369069669_03,Avinash tandel,8369069669,GS_BOM_LM

In [25]:

# Assuming your dataframe is named df
for index, row in df.iterrows():
    url = 'https://locus-api.com/v1/client/growsimplee-lm-devo/rider'
    params = {
        'overwrite': 'true'
    }
    headers = {
        'Content-Type': 'application/json',
        'Authorization': 'Basic Z3Jvd3NpbXBsZWUtbG0tZGV2bzpmMmZlYWY2NC00MDExLTQzYzUtYjY4OS0wZGUzYTBjODJiZmI='
    }
    data = [
        {
            "id": row['rider_id'],
            "name": row['rider_name'],
            "code": row['rider_id'],
            "status": "ACTIVE",
            "phoneNumber": {
                "phoneNumber": row['phone']
            },
            "teams": [
                {
                    "clientId": "growsimplee-lm-devo",
                    "teamId": row['team_name']
                }
            ],
            "type": "RIDER",
            "riderPersonaId": {
                "clientId": "growsimplee-lm-devo",
                "riderPersonaId": "default-rider-persona"
            },
            "transporterId": {
                "clientId": "growsimplee-lm-devo",
                "transporterId": "default-transporter"
            },
            "isActive": True,
            "retainAuth": False
        }
    ]

    response = requests.post(url, params=params, headers=headers, json=data)

    # Check if the request was successful
    if response.status_code == 200:
        print(f'Request successful for row {index}')
    else:
        print(f'Request failed for row {index} with status code:', response.status_code)

Request successful for row 0
Request successful for row 1