In [15]:
from scripts.postgres_connect import *
path = 'tunnel-ssh.cer'

In [16]:
query_path = 'rpr.sql'
with open(query_path, 'r') as file:
    custom_query = file.read()
df_report = get_df_from_sql('Yes',custom_query,'../../scripts/tunnel-ssh.cer')

DatabaseError: Execution failed on sql 'with pip_data as (
    select
   rider_id
,   case when pip_result = 'failed' then 'failing' else 'passing' end as pip_result
    from rider_pip
    where pip_status = 'running'
)

, base as(
    select
        l.task_id,
        l.awb,
        l.status,
        l.rider_id,
        l.rider_name,
        l.cancellation_remarks,
        l.dispatch_time,
        date_trunc('day',l.dispatch_time) as dispatch_date,
																						-- change below for date
        date_trunc('day',now()+interval '5.5 hours') - interval '1 day' as today_date,
        -- date_trunc('day',now()+interval '5.5 hours') as today_date,
        case when RANK() OVER ( PARTITION BY l.awb ORDER BY l.dispatch_time) = 1 then 'fresh' else 'reattempt' end as order_type,
        case when l.cod_amount = 0 then 'Prepaid' else 'COD' end as mop,
        city_name as shipping_city,
        node_name as hub,
        tr.is_realized,
        tr.is_collected,
        l.cod_amount,
        tr.is_fake_attempt

    from public.locus_task_brief as l
    -- left join ops_main
    -- on locus_task_brief.awb = ops_main.awb
    left join application_db.node as n on n.locus_home_base_id = l.location_id
    left join application_db.trip as tr on l.task_id = tr.locus_trip_id
    left join application_db.tracking_events as lo on lo.
    where 1=1
    and l.awb is not null
    and l.dispatch_time > now() - interval '30 days'
    and l.location_id <> 'homebase_test'
)

, cod_pendency as (
	select
		rider_id
																						--change below for dates
	,	sum(case when delivery_date = date_trunc('day',now()+interval '5.5 hours'-interval '1 day') then amount else 0 end) as today_cod
	,	sum(case when delivery_date < date_trunc('day',now()+interval '5.5 hours'-interval '1 day') then amount else 0 end) as past_cod
	from cod_base_data
	where collected = 0
	group by 1
)

, lost_data as (
	select
		rider_id
	,	sum(shipment_value) as lost_amount
	,	count(awb) as lost_count
	from lost_attribution
	where date_trunc('month',lost_date) = date_trunc('month',now()+interval '5.5 hours'-interval '1 day')
	group by 1
)

, numbers as (
select
        shipping_city
    ,   hub
    ,   rider_id
    ,   rider_name
    ,   count(case when dispatch_date=today_date then task_id else null end) as load
    ,   count(case when dispatch_date=today_date and status = 'COMPLETED' then task_id else null end) as delivered
    ,   count(case when dispatch_date=today_date and order_type = 'fresh' then task_id else null end) as fresh_attempted
    ,   count(case when dispatch_date=today_date and status = 'COMPLETED' and order_type = 'fresh' then task_id else null end) as fresh_delivered
    ,   count(case when dispatch_date=today_date and order_type = 'fresh' and mop = 'Prepaid' then task_id else null end) as prepaid_fresh_attempted
    ,   count(case when dispatch_date=today_date and status = 'COMPLETED' and order_type = 'fresh' and mop = 'Prepaid' then task_id else null end) as prepaid_fresh_delivered
    ,   count(case when dispatch_date=today_date and order_type = 'fresh' and mop = 'COD' then task_id else null end) as COD_fresh_attempted
    ,   count(case when dispatch_date=today_date and status = 'COMPLETED' and order_type = 'fresh' and mop = 'COD' then task_id else null end) as COD_fresh_delivered
--     ,   count(case when dispatch_date <= today_date - interval '1 day' and status = 'CANCELLED' and is_realized = false then task_id else null end) as failed_collection_pendency
--     ,   sum(case when dispatch_date <= today_date - interval '1 day' and status = 'COMPLETED' and is_collected = false then cod_amount else 0 end) as COD_collection_pendency
    ,   count(case when is_fake_attempt = 'true' then task_id else null end) as mtd_fake
	,	count(case when is_realized = 'false' and status = 'CANCELLED' and dispatch_date = today_date then task_id else null end) as today_fd_pendency
	,	count(case when is_realized = 'false' and status = 'CANCELLED' and dispatch_date < today_date then task_id else null end) as past_fd_pendency
    from base
    group by
        shipping_city
    ,   hub
    ,   rider_id
    ,   rider_name)

,   final as (
    select
        shipping_city
    ,   hub
    ,   numbers.rider_id
    ,   rider_name
    ,   load as assigned
    ,   delivered
    ,   delivered::double precision/nullif(load,0) as delivery_per
    ,   to_char((delivered::double precision/nullif(load,0))*100, '999%') as delivery_per_string
    ,   (fresh_delivered::double precision/nullif(fresh_attempted,0))*100 as fasr
    ,   prepaid_fresh_delivered::double precision/nullif(prepaid_fresh_attempted,0) as prepaid_fasr_per
    ,   cod_fresh_delivered::double precision/nullif(cod_fresh_attempted,0) as cod_fasr_per
    ,   to_char((prepaid_fresh_delivered::double precision/nullif(prepaid_fresh_attempted,0))*100, '999%') as prepaid_fasr_per_string
    ,   to_char((cod_fresh_delivered::double precision/nullif(cod_fresh_attempted,0))*100, '999%') as cod_fasr_per_string
	,	today_fd_pendency
	,	past_fd_pendency
	,	case when today_cod <> 0 then to_char(today_cod,'₹99,99,99,999') else '0' end as today_cod_string
	,	case when past_cod <> 0 then to_char(past_cod,'₹99,99,99,999') else '0' end as past_cod_string
	,	case when past_fd_pendency = 0 and past_cod = 0 then 1 else 0 end as pendency_flag
	,	lost_amount
	,	lost_count
	,	case when lost_amount >= 1000 then 0 else 1 end as lost_flag
--     ,   case when mtd_fake = 0 then null else mtd_fake end as mtd_fake
--     ,   pip_result

    from numbers
    left join pip_data as pip on pip.rider_id = numbers.rider_id
	left join cod_pendency as cod on cod.rider_id = numbers.rider_id
	left join lost_data on lost_data.rider_id = numbers.rider_id
    where load <> 0
)

select
    rider_name
,   hub
,   assigned
,   delivered
,   delivery_per
,   delivery_per_string
,   case when delivery_per >= 0.8 then 1 else 0 end as delivery_flag
,   prepaid_fasr_per
,   cod_fasr_per
,   prepaid_fasr_per_string
,   cod_fasr_per_string
,   case when prepaid_fasr_per > 0.9 and cod_fasr_per > 0.7 then 1 else 0 end as fasr_flag
,	today_cod_string
,	past_cod_string
,	today_fd_pendency
,	past_fd_pendency
,	pendency_flag
,	lost_amount
,	lost_count
,	lost_flag


from
final order by shipping_city, hub, fasr desc': syntax error at or near "1"
LINE 37:     where 1=1
                   ^

In [11]:
df_report

,rider_name,hub,assigned,delivered,delivery_per,delivery_per_string,delivery_flag,prepaid_fasr_per,cod_fasr_per,prepaid_fasr_per_string,cod_fasr_per_string,fasr_flag,today_cod_string,past_cod_string,today_fd_pendency,past_fd_pendency,pendency_flag,lost_amount,lost_count,lost_flag
0,RAJASABA G,BLDR-Franchise,54,54,1.000000,100%,1,1.000000,1.000000,100%,100%,1,"₹ 5,300","₹ 10,718",0,0,0,NaN,NaN,1
1,MV ashok,BLDR-Franchise,72,67,0.930556,93%,1,0.968254,0.714286,97%,71%,1,"₹ 6,633",0,5,0,1,NaN,NaN,1
2,Muniyappa M,BLDR-Franchise,54,49,0.907407,91%,1,0.960000,0.000000,96%,0%,0,₹ 668,"₹ 7,514",5,1,0,NaN,NaN,1
3,GOUTHAM V,BLDR-Franchise,71,65,0.915493,92%,1,0.950820,0.714286,95%,71%,1,"₹ 9,932","₹ 5,862",6,0,0,NaN,NaN,1
4,Abhi U,BLDR-Franchise,87,70,0.804598,80%,1,0.942308,0.846154,94%,85%,1,"₹ 16,092","₹ 33,176",17,0,0,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,Harish Chandu Madamulla,DS BOM THAN,56,50,0.892857,89%,1,0.971429,0.736842,97%,74%,1,"₹ 13,003","₹ 2,914",6,0,0,NaN,NaN,1
646,Sunny Ganpat Gole,DS BOM THAN,37,29,0.783784,78%,0,0.952381,0.500000,95%,50%,0,"₹ 5,406",0,0,0,1,NaN,NaN,1
647,Santosh nandkishor shinde,DS BOM THAN,48,37,0.770833,77%,0,0.913043,0.600000,91%,60%,0,0,₹ 399,0,0,0,NaN,NaN,1
648,ASIF VIJAY KAROTIYA,DS BOM THAN,21,14,0.666667,67%,0,0.888889,0.600000,89%,60%,0,"₹ 3,950",0,7,0,1,NaN,NaN,1
649,Sanjay Awsarmol,DS BOM THAN,25,17,0.680000,68%,0,0.705882,0.333333,71%,33%,0,₹ 996,0,8,0,1,NaN,NaN,1

In [12]:
from datetime import date
import jinja2
import os
import subprocess

# df_filtered = df_report[df_report['shipping_city'] == 'Bangalore']

# Select desired columns
# df_result = df_filtered[['rider_name', 'hub']].head(3)
df_result = df_report.head(3)

# Add a column with today's date in DD-MM-YYYY format
df_result['date'] = date.today().strftime('%d-%m-%Y')

In [13]:
df_result.head()

,rider_name,hub,assigned,delivered,delivery_per,delivery_per_string,delivery_flag,prepaid_fasr_per,cod_fasr_per,prepaid_fasr_per_string,...,fasr_flag,today_cod_string,past_cod_string,today_fd_pendency,past_fd_pendency,pendency_flag,lost_amount,lost_count,lost_flag,date
0,RAJASABA G,BLDR-Franchise,54,54,1.000000,100%,1,1.000000,1.000000,100%,...,1,"₹ 5,300","₹ 10,718",0,0,0,NaN,NaN,1,19-03-2024
1,MV ashok,BLDR-Franchise,72,67,0.930556,93%,1,0.968254,0.714286,97%,...,1,"₹ 6,633",0,5,0,1,NaN,NaN,1,19-03-2024
2,Muniyappa M,BLDR-Franchise,54,49,0.907407,91%,1,0.960000,0.000000,96%,...,0,₹ 668,"₹ 7,514",5,1,0,NaN,NaN,1,19-03-2024

In [14]:
from pyhtml2pdf import converter

# Set up Jinja environment
template_loader = jinja2.FileSystemLoader('templates')  # Replace with your template directory if different
template_env = jinja2.Environment(loader=template_loader)

# Create output directory for HTML files (optional, change directory name or location if needed)
os.makedirs('html_files', exist_ok=True)  # Create directory if it doesn't exist

# Create output directory for PDF files (optional, change directory name or location if needed)
os.makedirs('pdf_files', exist_ok=True)  # Create directory if it doesn't exist

# Loop through DataFrame rows
for index, row in df_result.iterrows():
    # Render HTML template, passing the entire row as data
    template = template_env.get_template('rpr_pip_good.html')
    rendered_html = template.render(row.to_dict())  # Access row data as a dictionary
    
    # Save rendered HTML as a file
    html_filename = f'html_files/report_{index}.html'
    with open(html_filename, 'w') as html_file:
        html_file.write(rendered_html)

    # Convert HTML file to PDF
    pdf_filename = f'pdf_files/report_{index}.pdf'
    
    converter.convert(f'file:///{os.path.abspath(html_filename)}', pdf_filename)

In [19]:
import os
from pyhtml2pdf import converter

converter.convert(f'file:///{path}', 'sample.pdf')

In [6]:
# Set up Jinja environment
template_loader = jinja2.FileSystemLoader('templates')  # Replace with your template directory if different
template_env = jinja2.Environment(loader=template_loader)

# Create output directory for images (optional, change directory name or location if needed)
os.makedirs('images', exist_ok=True)  # Create directory if it doesn't exist

# Loop through DataFrame rows
for index, row in df_report.iterrows():

    # Render HTML template, passing the entire row as data
    template = template_env.get_template('report.html')
    rendered_html = template.render(row.to_dict())  # Access row data as a dictionary

    # Generate filename
    filename = f"rider_{row['rider_name']}_{date.today().strftime('%Y-%m-%d')}.png"  # Customize if needed

    # Convert HTML to image (replace with your wkhtmltopdf path if different)
    command = ['wkhtmltopdf', '-q', f'images/{filename}', '-']
    with subprocess.Popen(command, stdin=subprocess.PIPE, stdout=subprocess.PIPE) as process:
        process.stdin.write(rendered_html.encode())
        process.wait()

    if process.returncode != 0:
        print(f"Error generating image for {row['rider_name']}: {process.returncode}")
    else:
        print(f"Image saved successfully: images/{filename}")

FileNotFoundError: [Errno 2] No such file or directory: 'wkhtmltopdf'

In [14]:
# 1. Rename columns
df_report.rename(columns={
    'shipping_city': 'City',
    'hub': 'Hub',
    'rider_id': 'Rider ID',
    'rider_name': 'Name',
    'load': 'Load',
    'delivery_per': 'Del%',
    'fasr': 'FASR',
    'prepaid_fasr': 'Prepaid FASR',
    'cod_fasr': 'COD FASR',
    'failed_collection_pendency': 'Failed Pending',
    'cod_collection_pendency': 'COD Pending',
    'mtd_fake': 'MTD Fake',
    'pip_result': 'PIP Status'
}, inplace=True)

# 2. Remove NaN and None, make them blank
df_report=df_report.apply(lambda x: x.fillna(''))

In [15]:
city_dict1 = {
    'Bangalore':['mayank@blitznow.in','anil@blitznow.in','ma.saifullah@blitznow.in','syed.afrid@blitznow.in','dilip.kumar@blitznow.in','biswojit.jena@blitznow.in'],
    'Delhi':['mayank@blitznow.in','sanjay@blitznow.in','ajay.verma@blitznow.in','rahul.lochav@blitznow.in'],
    'Mumbai':['mayank@blitznow.in','anil@blitznow.in','david.kumar@blitznow.in','sumit.kamble@blitznow.in'],
    'Hyderabad':['mayank@blitznow.in','anil@blitznow.in','shankar.poddar@blitznow.in','chandrakanth.sunkoji@blitznow.in'],
    'Jaipur':['mayank@blitznow.in','sourabh.vijayvergia@blitznow.in','sourabh.vijay@blitznow.in','sanjay@blitznow.in']
}

city_dict2 = {
    'Bangalore': ['akshay@blitznow.in'],
    'Delhi':['akshay@blitznow.in'],
    'Mumbai':['akshay@blitznow.in'],
    'Hyderabad':['akshay@blitznow.in'],
    'Jaipur':['akshay@blitznow.in'],
}

In [21]:
import boto3
from botocore.exceptions import NoCredentialsError
from datetime import datetime
import io

def upload_to_s3(buffer, bucket, s3_file):
    s3 = boto3.client("s3", aws_access_key_id='AKIATKY3OBJNI7G2NAVK', aws_secret_access_key='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')

    try:
        s3.upload_fileobj(buffer, bucket, s3_file)
        print(f"File uploaded to {bucket}/{s3_file}")
        print(s3_file)
        return s3_file
    except NoCredentialsError:
        print("Credentials not available")
        return None

def create_upload_csv(df,file_path):

    csv_buffer = io.BytesIO()
    df.to_csv(csv_buffer, index=False)
    csv_buffer.seek(0)

    s3_bucket_name = 'supplyteambucket'
    
    return upload_to_s3(csv_buffer, s3_bucket_name, file_path)

In [22]:
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
from email.mime.application import MIMEApplication

# Your email credentials
sender_email = "akshay@blitznow.in"
sender_password = "Outofblitz1!"

# Function to send emails
def send_email(to_email_list, subject, body, attachment_paths):
    msg = MIMEMultipart()
    msg['From'] = sender_email
    msg['To'] = ", ".join(to_email_list)
    msg['Subject'] = subject

    # Attach body
    msg.attach(MIMEText(body, 'html'))

    s3 = boto3.client("s3", aws_access_key_id='AKIATKY3OBJNI7G2NAVK', aws_secret_access_key='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')
    attachment_buffer = io.BytesIO()

    # Attach CSV files with updated names
    for attachment_path in attachment_paths:
          print(attachment_path)
          s3.download_fileobj('supplyteambucket', attachment_path['path'], attachment_buffer)
          attachment_buffer.seek(0) 

          attachment = MIMEApplication(attachment_buffer.read())
          # attachment['Content-Disposition'] = f'attachment; filename="{attachment_path["name"]}_hub_report.csv"'
          attachment.add_header('Content-Disposition', 'attachment', filename=f"{attachment_path['name']}_hub_report.csv")
          msg.attach(attachment)
        # with open(attachment_path['path'], "rb") as file:
        #     part = MIMEApplication(file.read(), Name=f"{attachment_path['name']}_hub_report.csv")
        #     part['Content-Disposition'] = f'attachment; filename="{attachment_path["name"]}_hub_report.csv"'
        #     msg.attach(part)

    # Establish a connection to the SMTP server
    with smtplib.SMTP("smtp.gmail.com", 587) as server:
        server.starttls()
        server.login(sender_email, sender_password)
        server.sendmail(sender_email, to_email_list, msg.as_string())

# Iterate through city_dict
for city, email_list in city_dict2.items():
    # Initialize the HTML body for the email
    email_body = f"""
    <html>
      <head>
        <style>
          table {{
            border-collapse: collapse;
            width: 100%;
          }}
          th, td {{
            padding: 8px;
            text-align: center;
          }}
          th {{
            background-color: lightblue;
          }}
        </style>
      </head>
      <body>
        <h2>Hub-wise Report for {city}</h2>
    """

    # List to store paths of CSV files and their respective names
    csv_attachments = []

    # Iterate through each hub in the city
    for hub in df_report[df_report['City'] == city]['Hub'].unique():
        print(f"printing for {city} - {hub}")
        # Extract data for the current hub
        hub_data = df_report[(df_report['City'] == city) & (df_report['Hub'] == hub)].drop(columns=['City'])

        # Generate HTML table from DataFrame
        html_table = hub_data.to_html(index=False, escape=False)  # Added escape=False to prevent HTML escaping

        # Append the HTML table to the email body
        email_body += f"<h3>Hub: {hub}</h3>{html_table}"

        # Save DataFrame to CSV file
        file_path = f"rider_performance_report/{city}_{hub}_hub_report.csv"
        # hub_data.to_csv(file_path, index=False)
        s3_file_url = create_upload_csv(hub_data,file_path)
        # Append CSV path and name to the list
        csv_attachments.append({'path': s3_file_url, 'name': f"{city}_{hub}"})

    # Close the HTML body
    email_body += """
      </body>
    </html>
    """

    # Send email to the city's email list with all CSV files attached
    send_email(email_list, f"Rider Performance Report for {city}", email_body, csv_attachments)

printing for Bangalore - BLDR-Franchise
File uploaded to supplyteambucket/rider_performance_report/Bangalore_BLDR-Franchise_hub_report.csv
rider_performance_report/Bangalore_BLDR-Franchise_hub_report.csv
printing for Bangalore - BLR FRH ECTY
File uploaded to supplyteambucket/rider_performance_report/Bangalore_BLR FRH ECTY_hub_report.csv
rider_performance_report/Bangalore_BLR FRH ECTY_hub_report.csv
printing for Bangalore - CMRJ-Franchise
File uploaded to supplyteambucket/rider_performance_report/Bangalore_CMRJ-Franchise_hub_report.csv
rider_performance_report/Bangalore_CMRJ-Franchise_hub_report.csv
printing for Bangalore - DS BLR BOMM
File uploaded to supplyteambucket/rider_performance_report/Bangalore_DS BLR BOMM_hub_report.csv
rider_performance_report/Bangalore_DS BLR BOMM_hub_report.csv
printing for Bangalore - DS BLR HBBL
File uploaded to supplyteambucket/rider_performance_report/Bangalore_DS BLR HBBL_hub_report.csv
rider_performance_report/Bangalore_DS BLR HBBL_hub_report.csv
printing for Bangalore - DS BLR MTH
File uploaded to supplyteambucket/rider_performance_report/Bangalore_DS BLR MTH_hub_report.csv
rider_performance_report/Bangalore_DS BLR MTH_hub_report.csv
printing for Bangalore - STNG-Franchise
File uploaded to supplyteambucket/rider_performance_report/Bangalore_STNG-Franchise_hub_report.csv
rider_performance_report/Bangalore_STNG-Franchise_hub_report.csv
printing for Bangalore - UUTR-Franchise
File uploaded to supplyteambucket/rider_performance_report/Bangalore_UUTR-Franchise_hub_report.csv
rider_performance_report/Bangalore_UUTR-Franchise_hub_report.csv
{'path': 'rider_performance_report/Bangalore_BLDR-Franchise_hub_report.csv', 'name': 'Bangalore_BLDR-Franchise'}
{'path': 'rider_performance_report/Bangalore_BLR FRH ECTY_hub_report.csv', 'name': 'Bangalore_BLR FRH ECTY'}
{'path': 'rider_performance_report/Bangalore_CMRJ-Franchise_hub_report.csv', 'name': 'Bangalore_CMRJ-Franchise'}
{'path': 'rider_performance_report/Bangalore_DS BLR BOMM_hub_report.csv', 'name': 'Bangalore_DS BLR BOMM'}
{'path': 'rider_performance_report/Bangalore_DS BLR HBBL_hub_report.csv', 'name': 'Bangalore_DS BLR HBBL'}
{'path': 'rider_performance_report/Bangalore_DS BLR MTH_hub_report.csv', 'name': 'Bangalore_DS BLR MTH'}
{'path': 'rider_performance_report/Bangalore_STNG-Franchise_hub_report.csv', 'name': 'Bangalore_STNG-Franchise'}
{'path': 'rider_performance_report/Bangalore_UUTR-Franchise_hub_report.csv', 'name': 'Bangalore_UUTR-Franchise'}
printing for Delhi - DEL FRH GKP
File uploaded to supplyteambucket/rider_performance_report/Delhi_DEL FRH GKP_hub_report.csv
rider_performance_report/Delhi_DEL FRH GKP_hub_report.csv
printing for Delhi - DS DEL DWK
File uploaded to supplyteambucket/rider_performance_report/Delhi_DS DEL DWK_hub_report.csv
rider_performance_report/Delhi_DS DEL DWK_hub_report.csv
printing for Delhi - DS DEL HKMN
File uploaded to supplyteambucket/rider_performance_report/Delhi_DS DEL HKMN_hub_report.csv
rider_performance_report/Delhi_DS DEL HKMN_hub_report.csv
printing for Delhi - DS DEL RNGR
File uploaded to supplyteambucket/rider_performance_report/Delhi_DS DEL RNGR_hub_report.csv
rider_performance_report/Delhi_DS DEL RNGR_hub_report.csv
printing for Delhi - GGKC-Franchise
File uploaded to supplyteambucket/rider_performance_report/Delhi_GGKC-Franchise_hub_report.csv
rider_performance_report/Delhi_GGKC-Franchise_hub_report.csv
printing for Delhi - ONFC-Franchise
File uploaded to supplyteambucket/rider_performance_report/Delhi_ONFC-Franchise_hub_report.csv
rider_performance_report/Delhi_ONFC-Franchise_hub_report.csv
printing for Delhi - RHNP-Franchise
File uploaded to supplyteambucket/rider_performance_report/Delhi_RHNP-Franchise_hub_report.csv
rider_performance_report/Delhi_RHNP-Franchise_hub_report.csv
{'path': 'rider_performance_report/Delhi_DEL FRH GKP_hub_report.csv', 'name': 'Delhi_DEL FRH GKP'}
{'path': 'rider_performance_report/Delhi_DS DEL DWK_hub_report.csv', 'name': 'Delhi_DS DEL DWK'}
{'path': 'rider_performance_report/Delhi_DS DEL HKMN_hub_report.csv', 'name': 'Delhi_DS DEL HKMN'}
{'path': 'rider_performance_report/Delhi_DS DEL RNGR_hub_report.csv', 'name': 'Delhi_DS DEL RNGR'}
{'path': 'rider_performance_report/Delhi_GGKC-Franchise_hub_report.csv', 'name': 'Delhi_GGKC-Franchise'}
{'path': 'rider_performance_report/Delhi_ONFC-Franchise_hub_report.csv', 'name': 'Delhi_ONFC-Franchise'}
{'path': 'rider_performance_report/Delhi_RHNP-Franchise_hub_report.csv', 'name': 'Delhi_RHNP-Franchise'}
printing for Mumbai - DS BOM KRL
File uploaded to supplyteambucket/rider_performance_report/Mumbai_DS BOM KRL_hub_report.csv
rider_performance_report/Mumbai_DS BOM KRL_hub_report.csv
printing for Mumbai - DS BOM SWRI
File uploaded to supplyteambucket/rider_performance_report/Mumbai_DS BOM SWRI_hub_report.csv
rider_performance_report/Mumbai_DS BOM SWRI_hub_report.csv
printing for Mumbai - DS BOM THAN
File uploaded to supplyteambucket/rider_performance_report/Mumbai_DS BOM THAN_hub_report.csv
rider_performance_report/Mumbai_DS BOM THAN_hub_report.csv
printing for Mumbai - GRGN-Franchise
File uploaded to supplyteambucket/rider_performance_report/Mumbai_GRGN-Franchise_hub_report.csv
rider_performance_report/Mumbai_GRGN-Franchise_hub_report.csv
{'path': 'rider_performance_report/Mumbai_DS BOM KRL_hub_report.csv', 'name': 'Mumbai_DS BOM KRL'}
{'path': 'rider_performance_report/Mumbai_DS BOM SWRI_hub_report.csv', 'name': 'Mumbai_DS BOM SWRI'}
{'path': 'rider_performance_report/Mumbai_DS BOM THAN_hub_report.csv', 'name': 'Mumbai_DS BOM THAN'}
{'path': 'rider_performance_report/Mumbai_GRGN-Franchise_hub_report.csv', 'name': 'Mumbai_GRGN-Franchise'}
printing for Hyderabad - DS HYD KMP
File uploaded to supplyteambucket/rider_performance_report/Hyderabad_DS HYD KMP_hub_report.csv
rider_performance_report/Hyderabad_DS HYD KMP_hub_report.csv
printing for Hyderabad - DS HYD SRNG
File uploaded to supplyteambucket/rider_performance_report/Hyderabad_DS HYD SRNG_hub_report.csv
rider_performance_report/Hyderabad_DS HYD SRNG_hub_report.csv
printing for Hyderabad - DS HYD TRNK
File uploaded to supplyteambucket/rider_performance_report/Hyderabad_DS HYD TRNK_hub_report.csv
rider_performance_report/Hyderabad_DS HYD TRNK_hub_report.csv
{'path': 'rider_performance_report/Hyderabad_DS HYD KMP_hub_report.csv', 'name': 'Hyderabad_DS HYD KMP'}
{'path': 'rider_performance_report/Hyderabad_DS HYD SRNG_hub_report.csv', 'name': 'Hyderabad_DS HYD SRNG'}
{'path': 'rider_performance_report/Hyderabad_DS HYD TRNK_hub_report.csv', 'name': 'Hyderabad_DS HYD TRNK'}
printing for Jaipur - DS JPR NPRG
File uploaded to supplyteambucket/rider_performance_report/Jaipur_DS JPR NPRG_hub_report.csv
rider_performance_report/Jaipur_DS JPR NPRG_hub_report.csv
{'path': 'rider_performance_report/Jaipur_DS JPR NPRG_hub_report.csv', 'name': 'Jaipur_DS JPR NPRG'}

2024-02-05 16:13:46,201| ERROR   | Socket exception: Operation timed out (60)

In [ ]:
import boto3
def upload_to_s3(buffer, bucket, s3_file):
    s3 = boto3.client("s3", aws_access_key_id=AWS_KEY[REALM][0], aws_secret_access_key=AWS_KEY[REALM][1])

    try:
        s3.upload_fileobj(buffer, bucket, s3_file)
        print(f"File uploaded to {bucket}/{s3_file}")
        return f"https://{bucket}.s3.{REGION}.amazonaws.com/{s3_file}"
    except NoCredentialsError:
        print("Credentials not available")
        return None

def create_upload_csv(test_cases):
    df = pd.DataFrame(test_cases)

    csv_filename = f"regression-{datetime.now().strftime('%Y%m%d%H%M%S')}.csv"

    csv_buffer = io.BytesIO()
    df.to_csv(csv_buffer, index=False)
    csv_buffer.seek(0)

    s3_bucket_name = f'{REALM}-regression-results'
    s3_filename = f"{datetime.now().strftime('%Y/%m/%d')}/{csv_filename}"
    
    return upload_to_s3(csv_buffer, s3_bucket_name, s3_filename)